In [1]:
# executing the creation of dashboard here. 
from clean_normalize_data import *
from dashboard_creation import *

# creating and saving dashboard for convenience store reliance.

In [2]:
# reading the semi-aggregated convenience store visits file
data_convenience=pd.read_csv("data/convenient_store_aggregated_by_county.csv",index_col=False) 
# reading the semi-aggregated grocery visits file
data_fast_food=pd.read_csv("data/grocery_aggregated_by_county.csv",index_col=False) 
# preparing the data for dashboard creation, this includes merging the files, cleaning them, and calculating the unhealthy reliance index
data=preparing_data_for_viz(data_convenience,data_fast_food,"convenient store_count","supermarket_count","convenient store reliance")  
data

          month county  convenient store reliance
0       2019-01  01001                   0.238835
1       2019-01  01003                   0.263629
2       2019-01  01005                   0.425384
3       2019-01  01007                   0.642202
4       2019-01  01009                   0.188263
...         ...    ...                        ...
128721  2022-05  56037                   0.283729
128722  2022-05  56039                   0.135940
128723  2022-05  56041                   0.361944
128724  2022-05  56043                   0.187500
128725  2022-05  56045                   0.205882

[128726 rows x 3 columns]

In [ ]:
# reading the manually encoded red-to-green scale
cc_scale=green_red_col_scale()  
# reading the county shapefiles 
counties=loading_counties_file() 
#saving the dashboards. Refer to 'dashboards' file. 
show_and_save_plot("dashboard/convenience_store_reliance_plot.html","convenient store reliance",cc_scale,data, counties)

# creating and savind dashboard for fast-food reliance

In [3]:
# reading the semi-aggregated fast store visits file
data_fast_food=pd.read_csv("data/fast_food_by_county.csv",index_col=False) 
# reading the semi-aggregated full-service visits file
data_full_service=pd.read_csv("data/full_service_restaurant_by_county.csv",index_col=False) 
# preparing the data for dashboard creation, this includes merging the files, cleaning them, and calculating the unhealthy reliance index
data=preparing_data_for_viz(data_fast_food,data_full_service,"fast_food_restaurant_count","full_service_restaurant_count","fast food reliance") 
data

          month county  fast food reliance
0       2019-01  01001            0.487580
1       2019-01  01003            0.398134
2       2019-01  01005            0.522506
3       2019-01  01007            0.394039
4       2019-01  01009            0.433064
...         ...    ...                 ...
128773  2022-05  56037            0.486884
128774  2022-05  56039            0.316495
128775  2022-05  56041            0.517112
128776  2022-05  56043            0.403771
128777  2022-05  56045            0.436968

[128778 rows x 3 columns]

In [ ]:
#saving the dashboards. Refer to 'dashboards' file. 
show_and_save_plot("dashboard/fast_food_reliance_plot.html","fast food reliance",cc_scale,data,counties)